<nav class="navbar fixed-bottom navbar-bg footer">
  <div class="container">
    <div>
      <a href="https://www.linkedin.com/in/jorge-rivera-50616632/" target="_blank" rel="noreferrer">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </a>&nbsp;&nbsp;
      <a href="https://github.com/jorian82" target="_blank" rel="noreferrer">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>
    <span><fa-icon [icon]="faCopyright"></fa-icon>
      {{ today | date:'yyyy' }}.
      <a href="https://jorgerivera.dev" target="_blank" rel="noreferrer">
        Jorge Rivera&nbsp;<fa-icon [icon]="faUser"></fa-icon>
      </a>
    </span>
    <span></span>
  </div>
</nav>
